# IDE config
.vscode

# Node dependencies
node_modules

# Coverage directories
coverage

# Random files
s3

# Data
_contents
dist

# Private examples
example/filesystem.js
example/s3.js
example/mongodb.js